.author-info {
  padding: 1rem 1.2rem;
  min-height: 330px;
  position: relative;

  .hello {
    text-align: left;
    color: var(--blog-white);
    background: var(--blog-white-op);
    font-size: 12px;
    margin-right: auto;
    padding: 2px 8px;
    border-radius: 12px;
    width: fit-content;
    cursor: pointer;
    -webkit-user-select: none;
    transition: 0.3s;
  }

  .title {
    text-align: left;
    font-weight: bold;
    color: var(--blog-white);
    font-size: 28px;
    line-height: 1.1;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
  }

  .description {
    line-height: 1.38;
    margin: 0.3rem 0;
    text-align: justify;
    color: rgba(255, 255, 255, 0.8);
  }

  .description2 { 
    line-height: 1.38;
    margin: 0.3rem 0;
    text-align: justify;
    width: 100%;
    z-index: 2;
    color: rgba(255, 255, 255, 0.8);
  }

  .footer {
    position: absolute;
    bottom: 1rem;
    left: 1.2rem;
    right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-left {
      .button-icon {
        margin-right: 8px;
        width: 40px;
        height: 40px;
        &:last-child {
          margin: 0;
        }
        .iconfont-size {
          font-size: 24px;
        }
      }
    }

    .footer-right {
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      justify-content: space-between;
      padding: 8px 12px;
      background: var(--blog-white-op);
      color: var(--blog-white);
      z-index: 1;
      transition: 0.3s;
      cursor: pointer;

      .iconfont-size {
        margin-right: 8px;
        font-size: 24px;
        transform: rotateZ(90deg);
      }

      &:hover {
        background: var(--blog-white);
        color: var(--blog-black);
      }

    }
  }
}