/* 元素出现动画 */
@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-box {
  animation: slide-in 0.6s 0.2s backwards;
}