@charset "UTF-8";

:root {
  --blog-white: #fff;
  --blog-white-op: rgba(255, 255, 255, 0.2);
  --blog-black: #000;
  --blog-black-op: rgba(0, 0, 0, 0.2);
  --blog-none: #00000000;
  --blog-gray: #999999;
  --blog-gray-op: #9999992b;
  --blog-vip: #e5a80d;
  --blog-main: var(--blog-theme);
  --blog-main-op: var(--blog-theme-op);
  --blog-main-op-deep: var(--blog-theme-op-deep);
  --blog-main-none: var(--blog-theme-none);
  --blog-shadow-theme: 0 8px 12px -3px var(--blog-theme-op);
  --blog-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
  --blog-shadow-main: 0 8px 12px -3px var(--blog-main-op);
  --blog-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
  --blog-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
  --blog-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --blog-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
  --blog-shadow-red: 0 8px 12px -3px #ee7d7936;
  --blog-shadow-green: 0 8px 12px -3px #87ee7936;
  --blog-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
  --blog-snackbar-time: 5s;
}

:root {
  --global-font-size: 16px;
  --global-bg: #fff;
  --hr-border: #97bcfb;
  --hr-before-color: #6ea2f9;
  --search-bg: #f6f8fa;
  --search-input-color: #4c4948;
  --search-result-title: #4c4948;
  --preloader-bg: #37474f;
  --preloader-color: #fff;
  --tab-border-color: #f0f0f0;
  --tab-botton-bg: #f0f0f0;
  --tab-botton-color: #1f2d3d;
  --tab-button-hover-bg: #dcdcdc;
  --tab-button-active-bg: #fff;
  --sidebar-bg: #f6f8fa;
  --btn-hover-color: #ff7242;
  --btn-color: #fff;
  --btn-bg: #307af6;
  --text-bg-hover: #307af6;
  --light-grey: #eee;
  --text-highlight-color: #1f2d3d;
  --blockquote-color: #6a737d;
  --blockquote-bg: rgba(73, 177, 245, 0.1);
  --reward-pop: #f5f5f5;
  --toc-link-color: #666261;
  --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
  --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15);
  // --blog-main: #425AEF !important;
  --up-fill: '/png/up_fill.png'
}


[data-theme=light] {
  color-scheme: light;
  --blog-theme: #425AEF;
  --blog-theme-op: #4259ef23;
  --blog-theme-op-deep: #4259efdd;
  --blog-theme-none: #4259ef01;
  --blog-blue: #425AEF;
  --blog-red: #f04a63;
  --blog-pink: #FF7C7C;
  --blog-green: #57bd6a;
  --blog-yellow: #c28b00;
  --blog-yellow-op: #d99c001a;
  --blog-orange: #e38100;
  --blog-fontcolor: #363636;
  --blog-background: #f7f9fe;
  --blog-reverse: #000;
  --blog-maskbg: rgba(255, 255, 255, 0.6);
  --blog-maskbgdeep: rgba(255, 255, 255, 0.85);
  --blog-hovertext: var(--blog-main);
  --blog-ahoverbg: #F7F7FA;
  --blog-lighttext: var(--blog-main);
  --blog-secondtext: rgba(60, 60, 67, 0.8);
  --blog-scrollbar: rgba(60, 60, 67, 0.4);
  --blog-card-btn-bg: #edf0f7;
  --blog-post-blockquote-bg: #fafcff;
  --blog-post-tabs-bg: #f2f5f8;
  --blog-secondbg: #f1f3f8;
  --blog-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --blog-card-bg: #fff;
  --blog-card-bg-op: var(--blog-black-op);
  --blog-card-bg-none: rgba(255, 255, 255, 0);
  --blog-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --blog-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --blog-card-border: #e3e8f7;
  --blog-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border: 1px solid var(--blog-card-border);
  --style-border-always: 1px solid var(--blog-card-border);
  --style-border-hover: 1px solid var(--blog-main);
  --style-border-hover-always: 1px solid var(--blog-main);
  --style-border-dashed: 1px dashed var(--blog-theme-op);
  --style-border-forever: 2px solid var(--blog-main);
  --up-fill: '/png/up_fill.png'
}

[data-theme=dark] {
  color-scheme: dark;
  --blog-theme: #f2b94b;
  --blog-theme-op: #f2b94b23;
  --blog-theme-op-deep: #f2b94bdd;
  --blog-theme-none: #f2b94b00;
  --blog-blue: #0084FF;
  --blog-red: #FF3842;
  --blog-pink: #d44040;
  --blog-green: #3e9f50;
  --blog-yellow: #ffc93e;
  --blog-yellow-op: #ffc93e30;
  --blog-orange: #ff953e;
  --blog-fontcolor: #F7F7FA;
  --blog-background: #18171d;
  --blog-reverse: #fff;
  --blog-maskbg: rgba(0, 0, 0, 0.6);
  --blog-maskbgdeep: rgba(0, 0, 0, 0.85);
  --blog-hovertext: #0A84FF;
  --blog-ahoverbg: #fff;
  --blog-lighttext: var(--blog-theme);
  --blog-secondtext: #a1a2b8;
  --blog-scrollbar: rgba(200, 200, 223, 0.4);
  --blog-card-btn-bg: #30343f;
  --blog-post-blockquote-bg: #000;
  --blog-post-tabs-bg: #121212;
  --blog-secondbg: #30343f;
  --blog-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --blog-card-bg: #1d1e22;
  --blog-card-bg-op: var(--blog-white-op);
  --blog-card-bg-none: #1d1b2600;
  --blog-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --blog-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --blog-card-border: #3d3d3f;
  --blog-shadow-border: 0 8px 16px -4px #00000050;
  --style-border: 1px solid var(--blog-card-border);
  --style-border-always: 1px solid var(--blog-card-border);
  --style-border-hover: 1px solid var(--blog-theme);
  --style-border-hover-always: 1px solid var(--blog-theme);
  --style-border-dashed: 1px dashed var(--blog-theme-op);
  --style-border-forever: 2px solid var(--blog-lighttext);
  --up-fill: '/png/up_fill.png'
}

[data-theme=dark] {
  --global-bg: #191919;
  --hr-border: rgba(255, 255, 255, 0.3);
  --hr-before-color: rgba(255, 255, 255, 0.6);
  --search-bg: #1e1e1e;
  --search-input-color: rgba(255, 255, 255, 0.8);
  --search-result-title: rgba(255, 255, 255, 0.1);
  --preloader-bg: #1e1e1e;
  --preloader-color: rgba(255, 255, 255, 0.6);
  --tab-border-color: #2c2c2c;
  --tab-botton-bg: #2c2c2c;
  --tab-botton-color: #fff;
  --tab-button-hover-bg: #444;
  --tab-button-active-bg: #1e1e1e;
  --heo-card-bg: #1e1e1e;
  --sidebar-bg: #1e1e1e;
  --btn-hover-color: #848484;
  --btn-color: #fff;
  --btn-bg: #3f3f3f;
  --text-bg-hover: #444;
  --light-grey: #fff;
  --white: #fff;
  --text-highlight-color: #fff;
  --blockquote-color: #fff;
  --blockquote-bg: #2c2c2c;
  --reward-pop: #2c2c2c;
  --toc-link-color: rgba(255, 255, 255, 0.6);
  --hl-color: rgba(255, 255, 255, 0.7);
  --hl-bg: #171717;
  --hltools-bg: #1a1a1a;
  --hltools-color: #90a4ae;
  --hlnumber-bg: #171717;
  --hlnumber-color: rgba(255, 255, 255, 0.4);
  --hlscrollbar-bg: #1f1f1f;
  --hlexpand-bg: linear-gradient(180deg, rgba(23, 23, 23, 0.6), rgba(23, 23, 23, 0.9));
  --up-fill: '/png/up_fill.png'
}

/* 用于检测用户是否有将系统的主题色设置为亮色或者暗色,dark 暗色  */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  :root {
    --blog-theme: #425AEF;
    --blog-theme-op: #4259ef23;
    --blog-theme-op-deep: #4259efdd;
    --blog-theme-none: #4259ef01;
    --blog-blue: #425AEF;
    --blog-red: #f04a63;
    --blog-pink: #FF7C7C;
    --blog-green: #57bd6a;
    --blog-yellow: #c28b00;
    --blog-yellow-op: #d99c001a;
    --blog-orange: #e38100;
    --blog-fontcolor: #363636;
    --blog-background: #f7f9fe;
    --blog-reverse: #000;
    --blog-maskbg: rgba(255, 255, 255, 0.6);
    --blog-maskbgdeep: rgba(255, 255, 255, 0.85);
    --blog-hovertext: var(--blog-main);
    --blog-ahoverbg: #F7F7FA;
    --blog-lighttext: var(--blog-main);
    --blog-secondtext: rgba(60, 60, 67, 0.8);
    --blog-scrollbar: rgba(60, 60, 67, 0.4);
    --blog-card-btn-bg: #edf0f7;
    --blog-post-blockquote-bg: #fafcff;
    --blog-post-tabs-bg: #f2f5f8;
    --blog-secondbg: #f1f3f8;
    --blog-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --blog-card-bg: #fff;
    --blog-card-bg-op: var(--blog-black-op);
    --blog-card-bg-none: rgba(255, 255, 255, 0);
    --blog-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --blog-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --blog-card-border: #e3e8f7;
    --blog-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border: 1px solid var(--blog-card-border);
    --style-border-always: 1px solid var(--blog-card-border);
    --style-border-hover: 1px solid var(--blog-main);
    --style-border-hover-always: 1px solid var(--blog-main);
    --style-border-dashed: 1px dashed var(--blog-theme-op);
    --style-border-forever: 2px solid var(--blog-main);
    --up-fill: '/png/up_fill.png'
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --blog-theme: #f2b94b;
    --blog-theme-op: #f2b94b23;
    --blog-theme-op-deep: #f2b94bdd;
    --blog-theme-none: #f2b94b00;
    --blog-blue: #0084FF;
    --blog-red: #FF3842;
    --blog-pink: #d44040;
    --blog-green: #3e9f50;
    --blog-yellow: #ffc93e;
    --blog-yellow-op: #ffc93e30;
    --blog-orange: #ff953e;
    --blog-fontcolor: #F7F7FA;
    --blog-background: #18171d;
    --blog-reverse: #fff;
    --blog-maskbg: rgba(0, 0, 0, 0.6);
    --blog-maskbgdeep: rgba(0, 0, 0, 0.85);
    --blog-hovertext: #0A84FF;
    --blog-ahoverbg: #fff;
    --blog-lighttext: var(--blog-theme);
    --blog-secondtext: #a1a2b8;
    --blog-scrollbar: rgba(200, 200, 223, 0.4);
    --blog-card-btn-bg: #30343f;
    --blog-post-blockquote-bg: #000;
    --blog-post-tabs-bg: #121212;
    --blog-secondbg: #30343f;
    --blog-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --blog-card-bg: #1d1e22;
    --blog-card-bg-op: var(--blog-white-op);
    --blog-card-bg-none: #1d1b2600;
    --blog-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --blog-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --blog-card-border: #3d3d3f;
    --blog-shadow-border: 0 8px 16px -4px #00000050;
    --style-border: 1px solid var(--blog-card-border);
    --style-border-always: 1px solid var(--blog-card-border);
    --style-border-hover: 1px solid var(--blog-theme);
    --style-border-hover-always: 1px solid var(--blog-theme);
    --style-border-dashed: 1px dashed var(--blog-theme-op);
    --style-border-forever: 2px solid var(--blog-lighttext);
    --up-fill: '/png/up_fill.png'
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 滚动条 */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: var(--blog-scrollbar);
  border-radius: 8px;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--blog-main);
  opacity: 1;
  display: block !important;
}

*::-webkit-scrollbar-track {
  background-color: var(--blog-none);
}

html {
  height: 100%;
  font-size: 20px;
}

body {
  position: relative;
  min-height: 100%;
  background: var(--blog-background);
  color: var(--blog-fontcolor);
  font-size: var(--global-font-size);
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
  line-height: 2;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

hr {
  position: relative;
  margin: 2rem auto;
  border: 1px dashed var(--hr-border);
}

.table-wrap {
  overflow-x: scroll;
  margin: 0px 0px 1rem;
}

table {
  display: table;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  empty-cells: show;
}

table td, table th {
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--light-grey);
  vertical-align: middle;
}

::selection {
  background: rgb(0, 121, 255);
  color: rgb(247, 247, 247);
}

.fa-spin {
  animation: heo-spin 1.2s linear infinite;
}

button {
  padding: 0px;
  outline: 0px;
  border: none;
  background: 0px 0px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--blog-lighttext);
}

img {
  max-width: 100%;
  transition: all 0.2s ease 0s;
  border-style: none;
}

ul li {list-style-type:none}
ol li {list-style-type:none}

/* 公共宽度 */
#__next {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#body-wrap {
  width: 100%;
}

@media screen and (max-width: 768px) {
  :root {
    --style-border: 0px solid var(--blog-card-border);
    --style-border-hover: 0px solid var(--blog-main);
  }
}

@media screen and (min-width: 0px) and (max-width: 749px) {
  #layout {
    width: 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1399px) {
  #layout {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1999px) {
  #layout {
    width: 1400px;
  }
}

@media screen and (min-width: 2000px) {
  #layout {
    width: 1400px;
  }
}

#layout {
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

#layout>div {
  width: 100%;
}


.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 30;
}
.waves-area .waves-svg {
  width: 100%;
  height: 60px;
}

/* Animation */

.parallax > use {
  animation: move-forever 30s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: var(--blog-background);
  opacity: 0.5;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: var(--blog-background);
  opacity: 0.6;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: var(--blog-background);
  opacity: 0.7;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: var(--blog-background);
  opacity: 1;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* 元素透明度改变 */
@keyframes slide-in-op {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showCover {
  from {
    opacity: 0;
    transform: rotate(10deg) translateY(-8%) scale(1.8);
  }
  to {
    opacity: 0.5;
    transform: rotate(10deg) translateY(-10%) scale(2);
  }
}


#post-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 50vw;
  min-height: 20rem;
  opacity: 0.8;
}

.coverdiv {
  width: 70%;
  height: 100%;
  position: relative;
  margin: 0 -20% 0 auto;
  overflow: hidden;
  margin-bottom: 0;
  transform: rotate(10deg) translateY(-10%) scale(2);
  filter: blur(10px);
  z-index: 10;
}

.coverdiv.loaded{
  display: block;
  display: block;
  opacity: 0.5;
  animation: showCover 1s 0.3s backwards;
  transform: rotate(10deg) translateY(-10%) scale(2);
}

.coverdiv:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 110px -130px 300px 60px var(--hello-main) inset;
}

// figure.highlight table::-webkit-scrollbar-thumb {
//   background: var(--hlscrollbar-bg);
// }

// figure.highlight pre .deletion {
//   color: rgb(191, 66, 191);
// }

// figure.highlight pre .addition {
//   color: rgb(16, 94, 222);
// }

// figure.highlight pre .meta {
//   color: rgb(199, 146, 234);
// }

// figure.highlight pre .comment {
//   color: rgb(150, 152, 150);
// }

// figure.highlight pre .attribute, figure.highlight pre .css .class, figure.highlight pre .css .id, figure.highlight pre .css .pseudo, figure.highlight pre .html .doctype, figure.highlight pre .regexp, figure.highlight pre .ruby .constant, figure.highlight pre .tag .name, figure.highlight pre .variable, figure.highlight pre .xml .doctype, figure.highlight pre .xml .pi, figure.highlight pre .xml .tag .title {
//   color: var(--blog-red);
// }

// figure.highlight pre .tag {
//   color: var(--blog-pink);
// }

// figure.highlight pre .command, figure.highlight pre .constant, figure.highlight pre .literal, figure.highlight pre .number, figure.highlight pre .params, figure.highlight pre .preprocessor {
//   color: var(--blog-orange);
// }

// figure.highlight pre .built_in {
//   color: var(--blog-yellow);
// }

// figure.highlight pre .css .rules .attribute, figure.highlight pre .formula, figure.highlight pre .header, figure.highlight pre .inheritance, figure.highlight pre .number, figure.highlight pre .ruby .class .title, figure.highlight pre .ruby .symbol, figure.highlight pre .special, figure.highlight pre .string, figure.highlight pre .value, figure.highlight pre .xml .cdata {
//   color: var(--blog-green);
// }

// figure.highlight pre .css .hexcolor, figure.highlight pre .keyword, figure.highlight pre .title {
//   color: rgb(62, 177, 223);
// }

// figure.highlight pre .coffeescript .title, figure.highlight pre .function, figure.highlight pre .javascript .title, figure.highlight pre .perl .sub, figure.highlight pre .python .decorator, figure.highlight pre .python .title, figure.highlight pre .ruby .function .title, figure.highlight pre .ruby .title .keyword {
//   color: var(--blog-blue);
// }

// figure.highlight pre .javascript .function, figure.highlight pre .tag .attr {
//   color: rgb(199, 146, 234);
// }

// figure.highlight .line.marked {
//   background-color: rgba(97, 97, 97, 0.314);
// }

// figure.highlight table {
//   display: block;
//   border: none;
//   overflow: scroll;
// }

// figure.highlight table td {
//   padding: 0px;
//   border: none;
//   height: 100%;
// }

// figure.highlight table td.code {
//   width: 100%;
//   display: flex;
//   position: relative;
// }

// figure.highlight .code pre {
//   padding-right: 0.5rem;
//   padding-left: 0.5rem;
//   width: 100%;
// }

// figure.highlight, #article-container pre {
//   overflow: auto;
//   margin: 0px 0px 1rem;
//   padding: 0px;
//   line-height: 1.6;
// }

//  /* 文章代码框 */
//  figure {
//   margin-top: 0.5rem !important;
// }

// figure.highlight .highlight-tools {
//   background: var(--blog-secondbg);
//   border-bottom: var(--style-border-always);
//   color: var(--blog-fontcolor);
// }

// .gutter {
//   opacity: 0.6;
//   user-select: none;
// }

// .code-lang {
//   margin-left: 6px;
// }

// .highlight-tools .code-lang {
//   text-transform: capitalize;
//   left: 1.9rem;
// }