#page-header {
  position: relative;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease 0s;
  z-index: 999;
}

.not-top-img {
  height: 60px;
}

#page-header #nav {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--blog-none);
  transition: all 0.5s ease 0s;
  overflow: hidden;
  z-index: 999;
}

.nav-left, .nav-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.nav-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
}

.nav-menus {
  height: 60px;
}

.nav-menus .menus_items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-left {
  left: 30px;
  bottom: 0;
  top: 0;
}

.nav-right {
  right: 30px;
  bottom: 0;
  top: 0;
}

#page-header .show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#nav-group {
  position: relative;
  width: 1400px;
  height: 60px;
}

#page-header:not(.nav-fixed) #nav {
  background: var(--blog-none);
  transition: 0.3s;
}

/* 滚动后样式 */
.nav-fixed #nav {
  top: 0;
  transition: 0.3s;
  box-shadow: none;
  background: var(--blog-card-bg);
}

.nav-fixed .show {
  outline: 1px solid var(--blog-card-border) !important;
}

/* 标题滚动 */
#page-header:not(.nav-fixed) #nav .nav-content {
  transition: 0.3s;
  top: 0;
}

#page-header #nav .nav-content {
  transition: 0.3s;
  top: -60px;
}
/* 标题自适应 */
@media screen and (min-width: 0px) and (max-width: 749px) {
  #nav-group {
    padding: 0 30px;
    width: 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1399px) {
  #nav-group {
    padding: 0 30px;
    width: 100%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1999px) {
  #nav-group {
    padding: 0 30px;
    width: 1400px;
  }
}

@media screen and (min-width: 2000px) {
  #nav-group {
    padding: 0 30px;
    width: 1400px;
  }
}

/* 具体内容 */

#nav a {
  letter-spacing: 0.3rem;
  padding: 0 0.7rem 0 1rem;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  height: 35px;
  line-height: 35px;
  border-radius: 40px;
}

.nav_item, .back-home {
  position: relative;
  display: block;
  padding: 0;
  font-size: 1.15em;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: var(--blog-fontcolor);
  text-shadow: none;
  transition: 0.3s;
}

.nav_item {
  margin: 0 .5rem;
}

.nav_item:hover {
  background: var(--blog-main);
  color: var(--blog-white);
  transition: 0.3s;
}

.back-home:hover {
  background: var(--blog-main);
  color: var(--blog-white);
  transition: 0.3s;
}

.back-home:hover > span {
  opacity: 0;
}

.back-home:hover::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  right: 0;
  content: '首页';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: var(--blog-white)
}

#page-header {
  background-image: none !important;
  display: flex;
  justify-content: center;
}


.header-bg {
  height: 25rem;
  /* backdrop-filter: blur(500px); */
  transition: 0.6s;
  overflow: hidden;
}

.header-bg::before {
  position: absolute;
  transition: 0.3s;
  opacity: 0.93;
  height: 25rem;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  content: "";
  background-color: var(--blog-main);
  animation: slide-in-op 0.6s 0s forwards;
  z-index: 0;
  /* filter: blur(50px); */
  backdrop-filter: blur(500px);
}


