.classification {
  margin-right: 8px;
  padding: 0 0.2rem;
  padding-left: 0;
  color: var(--blog-secondtext);
  font-size: 13px;
  cursor: pointer;
}

.classification-big {
  margin-right: .5rem;
  padding: 0 0.5rem;
  display: inline-flex;
  height: 32px;
  line-height: 32px;
  background: var(--blog-white-op);
  color: var(--blog-white);
  font-size: 0.7rem;
  border-radius: 8px;
  font-weight: bold;

  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:hover {
    color: var(--blog-main) !important;
    background: var(--blog-white) !important;
    border-radius: 8px !important;
  }
}