.author-link {
  display: flex;
  align-items: center;
  justify-content: center;
  .link {
    margin: 1rem 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--blog-card-bg);
    border-radius: 50%;
    background: var(--blog-fontcolor);
    transition: 0.3s;

    &:hover {
      color: var(--blog-white);
      background: var(--blog-main);
    }
  }

  .author-img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate3D(0%, 0%, 0);
    
    .imgs {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }

    .circle {
      box-sizing: border-box;
      position: absolute;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      border: 2.5px solid transparent;
      border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
      mix-blend-mode: screen;
      &:nth-child(1) {
          border-color: #DB4437;
          transform-origin: 50%-0% 50%;
          animation: spin1 5.5s linear infinite;
      }
      &:nth-child(2) {
          border-color: #F4B400;
          transform-origin: 50% 50%+0%;
          animation: spin2 5.5s linear infinite;
      }
      &:nth-child(3) {
          border-color: #4285F4;
          transform-origin: 50%+0% 50%;
          animation: spin3 5.5s linear infinite;
      }
      &:nth-child(4) {
          border-color: #0F9D58;
          transform-origin: 50% 50%-0%;
          animation: spin4 5.5s linear infinite;
      }
    }
  }
}

@keyframes spin1 {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
      transform: rotate(72deg);
  }
  100% {
      transform: rotate(-288deg);
  }
}

@keyframes spin3 {
  0% {
      transform: rotate(-144deg);
  }
  100% {
      transform: rotate(216deg);
  }
}

@keyframes spin4 {
  0% {
      transform: rotate(216deg);
  }
  100% {
      transform: rotate(-144deg);
  }
}